* {
    box-sizing: border-box;
}

/* a 링크 태그 스타일 초기화 */
a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
}

.inner {
    /* 가로 사이즈가 1200px이 넘는 해상도에서는 미디어 쿼리 max-width 설정을 할 예정 */
    width: 100%;
    /* align-items 등으로 수직 가운데 정렬을 위해 미리 height 크기를 설정한다. */
    height: 100%;
    /* 가운데 정렬을 위함 */
    margin: 0 auto;
    /* 좌우 padding 값을 줘서 좌우에 달라붙지 않게 설정 */
    padding: 0 2rem;
    /* 넘치는 영역에 대해서 표시가 안되도록 설정 */
    overflow: hidden;
}

header {
    width: 100%;
    height: 60px;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 자손 선택자 */
.head--container .head--brand {
    font-weight: bold;
    /* 16px = 1rem, 19.2px */
    font-size: 1.2rem;
}

.head--container .head--brand a:hover {
    color: blue;
    cursor: pointer;
}